<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>WebMachineFunctionalTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7bc7e">  <td>14/10/31 14:45:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebMachine_DispatchPage_Test.WebMachine_DispatchPageTest(java.util.Hashtable)[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_DispatchPage_Test@64b0a168]">WebMachine_DispatchPageTest</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="6eaee9">  <td>14/10/31 14:48:26</td>   <td>151279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebMachine_HomeLandingPage_Test.WebMachine_HomeLandingPageTest(java.util.Hashtable)[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_HomeLandingPage_Test@17d4aa61]">WebMachine_HomeLandingPageTest</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a7bc7e">  <td>14/10/31 14:45:55</td>   <td>-23</td> <td title="&gt;&gt;WebMachine_DispatchPage_Test.checkSuiteRunStatus()[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_DispatchPage_Test@64b0a168]">&gt;&gt;checkSuiteRunStatus</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="6eaee9">  <td>14/10/31 14:45:55</td>   <td>-12</td> <td title="&gt;&gt;WebMachine_HomeLandingPage_Test.checkSuiteRunStatus()[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_HomeLandingPage_Test@17d4aa61]">&gt;&gt;checkSuiteRunStatus</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
</table>
