<h2>Reporter output</h2><table><tr><td>Running Functional Test Suite for WebMachine</td></tr>
<tr><td>Running Test Case : WebMachine_DispatchPageTest</td></tr>
<tr><td>STEP3</td></tr>
<tr><td>Validating Search Functionality..</td></tr>
<tr><td>Canonical URL is available for page : Schneider Electric Россия | Мировой эксперт в управлении энергией</td></tr>
<tr><td>Canonical Url : http://www.schneider-electric.com/ru/ru/</td></tr>
<tr><td>Title of Search landing page : Результаты поиска</td></tr>
<tr><td>Search results page displayed succesfully! </td></tr>
<tr><td>Canonical URL is available for page : Результаты поиска</td></tr>
<tr><td>Canonical Url : http://www.schneider-electric.ru/sites/russia/ru/general/search/search-result.page?URL=http://websearch.schneider-electric.com/GsaLost/portlets/AutonomyGlobalSearch.jsp%3FLanguage=ru%26Country=ru%26lancer=oui%26firstQuery=true%26site=null%26autnmSource=*%26autnmQueryBis=energy</td></tr>
<tr><td>Error! Country is changing</td></tr>
<tr><td>Error! Ajax call is reloading the page, validation Failed</td></tr>
<tr><td>Error! No Zones found on Dispatch page.</td></tr>
<tr><td>Error! About Us column NOT found on footer</td></tr>
<tr><td>Error! About Us column NOT found on footer</td></tr>
<tr><td>Total zones column found on footer : 3</td></tr>
<tr><td>Zone 1 : ДЛЯ ДОМА</td></tr>
<tr><td>Zone : ДЛЯ ДОМА column found on footer with total links : 5</td></tr>
<tr><td>Link 1 : Найди вдохновение</td></tr>
<tr><td>Link 2 : Ваш проект</td></tr>
<tr><td>Link 3 : Наша продукция</td></tr>
<tr><td>Link 4 : Где купить</td></tr>
<tr><td>Link 5 : Контакты</td></tr>
<tr><td>Zone 2 : ДЛЯ РАБОТЫ</td></tr>
<tr><td>Zone : ДЛЯ РАБОТЫ column found on footer with total links : 5</td></tr>
<tr><td>Link 1 : Продукция и услуги</td></tr>
<tr><td>Link 2 : Поддержка</td></tr>
<tr><td>Link 3 : Партнеры</td></tr>
<tr><td>Link 4 : О компании и карьере</td></tr>
<tr><td>Link 5 : Часто задаваемые вопросы</td></tr>
<tr><td>Zone 3 : ДЛЯ ПАРТНЕРОВ</td></tr>
<tr><td>Zone : ДЛЯ ПАРТНЕРОВ column found on footer with total links : 5</td></tr>
<tr><td>Link 1 : Решения</td></tr>
<tr><td>Link 2 : Продукция и услуги</td></tr>
<tr><td>Link 3 : Поддержка</td></tr>
<tr><td>Link 4 : Стать партнером</td></tr>
<tr><td>Link 5 : Логин</td></tr>
<tr><td>Zone : ДЛЯ ДОМА has total links : 5</td></tr>
<tr><td>Validating link 1 : Найди вдохновение</td></tr>
<tr><td>Landing page URL : http://home.schneider-electric.ru/ru/house-rooms/index.jsp</td></tr>
<tr><td>Canonical URL is available for page : Решения по управлению энергией и автоматизации для дома</td></tr>
<tr><td>Canonical Url : http://home.schneider-electric.ru/ru/house-rooms/</td></tr>
<tr><td>Tittle of Landing page : Решения по управлению энергией и автоматизации для дома</td></tr>
<tr><td>Link 1 : Найди вдохновение is working fine.</td></tr>
<tr><td>Validating link 2 : Ваш проект</td></tr>
<tr><td>Landing page URL : http://home.schneider-electric.ru/ru/my-house-project/index.jsp</td></tr>
<tr><td>Canonical URL is available for page : Идеи по управлению энергией и автоматизации для вашего дома | Indonesia</td></tr>
<tr><td>Canonical Url : http://home.schneider-electric.ru/ru/my-house-project/</td></tr>
<tr><td>Tittle of Landing page : Идеи по управлению энергией и автоматизации для вашего дома | Indonesia</td></tr>
<tr><td>Link 2 : Ваш проект is working fine.</td></tr>
<tr><td>Validating link 3 : Наша продукция</td></tr>
<tr><td>Error ! Link : Наша продукция NOT found in Zone : ДЛЯ ДОМА</td></tr>
<tr><td>Zone ДЛЯ ДОМА column NOT found on footer</td></tr>
<tr><td>Zone ДЛЯ ДОМА column NOT found on footer</td></tr>
<tr><td>Zone ДЛЯ ДОМА column NOT found on footer</td></tr>
<tr><td>Error! Footer-Legals section not found on footer</td></tr>
<tr><td>Running Functional Test Suite for WebMachine</td></tr>
<tr><td>Running Test Case : WebMachine_HomeLandingPageTest</td></tr>
</table>