<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>WebMachine</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c5cd65">  <td>14/11/07 14:14:18</td>   <td>0</td> <td title="&gt;&gt;WebMachine_DispatchPage_Test.checkSuiteRunStatus()[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_DispatchPage_Test@58b91dff]">&gt;&gt;checkSuiteRunStatus</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="fcb8f3">  <td>14/11/07 14:14:18</td>   <td>13</td> <td title="&gt;&gt;WebMachine_HomeLandingPage_Test.checkSuiteRunStatus()[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_HomeLandingPage_Test@57bb2fc4]">&gt;&gt;checkSuiteRunStatus</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="639ad4">  <td>14/11/07 14:14:18</td>   <td>13</td> <td title="&gt;&gt;WebMachine_ProductsPage_Test.checkSuiteRunStatus()[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_ProductsPage_Test@6e4a084c]">&gt;&gt;checkSuiteRunStatus</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="bd6a7c">  <td>14/11/07 14:14:18</td>   <td>13</td> <td title="&gt;&gt;WebMachine_BeInspiredPage_Test.checkSuiteRunStatus()[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_BeInspiredPage_Test@4699fe0a]">&gt;&gt;checkSuiteRunStatus</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="bc8d86">  <td>14/11/07 14:14:18</td>   <td>14</td> <td title="&gt;&gt;WebMachine_YourProjectPage_Test.checkSuiteRunStatus()[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_YourProjectPage_Test@4198339e]">&gt;&gt;checkSuiteRunStatus</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="c5cd65">  <td>14/11/07 14:14:18</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebMachine_DispatchPage_Test.WebMachine_DispatchPageTest(java.util.Hashtable)[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_DispatchPage_Test@58b91dff]">WebMachine_DispatchPageTest</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="fcb8f3">  <td>14/11/07 14:14:18</td>   <td>503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebMachine_HomeLandingPage_Test.WebMachine_HomeLandingPageTest(java.util.Hashtable)[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_HomeLandingPage_Test@57bb2fc4]">WebMachine_HomeLandingPageTest</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="639ad4">  <td>14/11/07 14:14:18</td>   <td>753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebMachine_ProductsPage_Test.WebMachine_ProductsPageTest(java.util.Hashtable)[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_ProductsPage_Test@6e4a084c]">WebMachine_ProductsPageTest</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="bd6a7c">  <td>14/11/07 14:14:19</td>   <td>872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebMachine_BeInspiredPage_Test.WebMachine_BeInspiredPageTest(java.util.Hashtable)[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_BeInspiredPage_Test@4699fe0a]">WebMachine_BeInspiredPageTest</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="bc8d86">  <td>14/11/07 14:15:28</td>   <td>70148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebMachine_YourProjectPage_Test.WebMachine_YourProjectPageTest(java.util.Hashtable)[pri:0, instance:com.SE.WebMachine.testcases.FunctionalTests.WebMachine_YourProjectPage_Test@4198339e]">WebMachine_YourProjectPageTest</td> 
  <td>main@1636165903</td>   <td></td> </tr>
</table>
