<h2>Reporter output</h2><table><tr><td>Running Functional Test Suite for WebMachine</td></tr>
<tr><td>Running Test Case : WebMachine_BeInspiredPageTest</td></tr>
<tr><td>Validating BeInspired page</td></tr>
<tr><td>Going to click on BeInspired tab on horizontal navigation pane </td></tr>
<tr><td>Canonical URL is available for page : Home Energy Management & Automation Solutions | Schneider Electric</td></tr>
<tr><td>Canonical Url : http://home-sqe.schneider-electric.co.id/en/house-rooms/</td></tr>
<tr><td>STEP7</td></tr>
<tr><td>BeInspired tab link is working fine</td></tr>
<tr><td>Title of landing page : Home Energy Management & Automation Solutions | Schneider Electric</td></tr>
<tr><td>Header of page : Need inspiration?</td></tr>
<tr><td>Number of demo rooms available : 11</td></tr>
<tr><td>Demo Room Name : 1 : Living Room</td></tr>
<tr><td>Demo Room Name : 2 : Children's Room</td></tr>
<tr><td>Demo Room Name : 3 : Dining Room</td></tr>
<tr><td>Demo Room Name : 4 : Bathroom</td></tr>
<tr><td>Demo Room Name : 5 : Home Office</td></tr>
<tr><td>Demo Room Name : 6 : Entry and Hall</td></tr>
<tr><td>Demo Room Name : 7 : Home Theater</td></tr>
<tr><td>Demo Room Name : 8 : Kitchen</td></tr>
<tr><td>Demo Room Name : 9 : Bedroom</td></tr>
<tr><td>Demo Room Name : 10 : Garage</td></tr>
<tr><td>Demo Room Name : 11 : Outdoors</td></tr>
<tr><td>Validating first demo room on BeInspired page</td></tr>
<tr><td>STEP24</td></tr>
<tr><td>Title of landing page : Living Room Energy Management & Automation Solutions | Schneider Electric</td></tr>
<tr><td>Header of page : Living room</td></tr>
<tr><td>Number SE products available for living room : 3</td></tr>
<tr><td>STEP28</td></tr>
<tr><td>Living Room SE product options : 1 : Switches and sockets</td></tr>
<tr><td>Living Room SE product options : 2 : Occupancy sensors</td></tr>
<tr><td>Living Room SE product options : 3 : Dimmers</td></tr>
<tr><td>Running Functional Test Suite for WebMachine</td></tr>
<tr><td>Running Test Case : WebMachine_YourProjectPageTest</td></tr>
<tr><td>Validating Your Project page</td></tr>
<tr><td>Going to click on Your Project tab on horizontal navigation pane </td></tr>
<tr><td>Canonical URL is available for page : Energy Management & Automation Ideas for your Home | Indonesia</td></tr>
<tr><td>Canonical Url : http://home-sqe.schneider-electric.co.id/en/my-house-project/</td></tr>
<tr><td>STEP38</td></tr>
<tr><td>Your Project tab link is working fine</td></tr>
<tr><td>Title of landing page : Energy Management & Automation Ideas for your Home | Indonesia</td></tr>
<tr><td>Header of page : Have a special project?</td></tr>
<tr><td>Number Project options available : 4</td></tr>
<tr><td>Your Project Name : 1 : Connected Home</td></tr>
<tr><td>Your Project Name : 2 : Decorating your home</td></tr>
<tr><td>Your Project Name : 3 : A safer home</td></tr>
<tr><td>Your Project Name : 4 : Saving</td></tr>
<tr><td>Validating demo projects of Your Project page options</td></tr>
<tr><td>Canonical URL is available for page : Energy Management & Automation Ideas for your Home | Indonesia</td></tr>
<tr><td>Canonical Url : http://home-sqe.schneider-electric.co.id/en/my-house-project/</td></tr>
<tr><td>Validating Project : Connected Home</td></tr>
<tr><td>Connected Home Link is working fine</td></tr>
<tr><td>STEP52</td></tr>
<tr><td>Canonical URL is available for page : Improve your Home with Energy Automation | Schneider Electric</td></tr>
<tr><td>Canonical Url : http://home-sqe.schneider-electric.co.id/en/my-house-project/house-confort.jsp</td></tr>
</table>